body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1436px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:925px;
}
#u1860 {
  position:absolute;
  left:50px;
  top:50px;
  width:442px;
  height:925px;
}
#u1861 {
  position:absolute;
  left:2px;
  top:454px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1862 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:287px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1863 {
  position:absolute;
  left:1208px;
  top:183px;
  width:228px;
  height:287px;
}
#u1864 {
  position:absolute;
  left:2px;
  top:136px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:287px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.956862745098039);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u1866 {
  position:absolute;
  left:1208px;
  top:179px;
  width:228px;
  height:287px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u1867 {
  position:absolute;
  left:2px;
  top:136px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1868 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:2px;
}
#u1869 {
  position:absolute;
  left:1208px;
  top:219px;
  width:228px;
  height:1px;
}
#u1870 {
  position:absolute;
  left:2px;
  top:-8px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:36px;
}
#u1871 {
  position:absolute;
  left:1208px;
  top:179px;
  width:228px;
  height:36px;
}
#u1872 {
  position:absolute;
  left:2px;
  top:10px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u1873 {
  position:absolute;
  left:1258px;
  top:189px;
  width:139px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u1874 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u1876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1877 {
  position:absolute;
  left:1215px;
  top:231px;
  width:206px;
  height:27px;
  color:#CCCCCC;
}
#u1878 {
  position:absolute;
  left:2px;
  top:6px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u1879 {
  position:absolute;
  left:1249px;
  top:232px;
  width:1px;
  height:27px;
}
#u1880 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u1881 {
  position:absolute;
  left:1284px;
  top:232px;
  width:1px;
  height:27px;
}
#u1882 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u1883 {
  position:absolute;
  left:1318px;
  top:232px;
  width:1px;
  height:27px;
}
#u1884 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u1885 {
  position:absolute;
  left:1352px;
  top:232px;
  width:1px;
  height:27px;
}
#u1886 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u1887 {
  position:absolute;
  left:1387px;
  top:232px;
  width:1px;
  height:27px;
}
#u1888 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u1889 {
  position:absolute;
  left:1352px;
  top:259px;
  width:79px;
  height:22px;
  color:#199ED8;
}
#u1890 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:154px;
}
#u1891 {
  position:absolute;
  left:1208px;
  top:312px;
  width:228px;
  height:154px;
}
#u1892 {
  position:absolute;
  left:2px;
  top:69px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:287px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1894 {
  position:absolute;
  left:924px;
  top:187px;
  width:228px;
  height:287px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:136px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:287px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.956862745098039);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u1896 {
  position:absolute;
  left:924px;
  top:187px;
  width:228px;
  height:287px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u1897 {
  position:absolute;
  left:2px;
  top:136px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:2px;
}
#u1899 {
  position:absolute;
  left:924px;
  top:216px;
  width:228px;
  height:1px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:-8px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:31px;
}
#u1901 {
  position:absolute;
  left:924px;
  top:183px;
  width:228px;
  height:31px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:8px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  text-align:center;
}
#u1903 {
  position:absolute;
  left:983px;
  top:192px;
  width:108px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  text-align:center;
}
#u1904 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1905 {
  position:absolute;
  left:931px;
  top:192px;
  width:16px;
  height:16px;
}
#u1906 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1907 {
  position:absolute;
  left:984px;
  top:231px;
  width:108px;
  height:40px;
  text-align:center;
}
#u1908 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u1909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1909 {
  position:absolute;
  left:931px;
  top:267px;
  width:69px;
  height:32px;
  font-size:14px;
  color:#999999;
}
#u1910 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#333333;
  text-align:right;
}
#u1911 {
  position:absolute;
  left:1036px;
  top:267px;
  width:109px;
  height:16px;
  font-size:13px;
  color:#333333;
  text-align:right;
}
#u1912 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u1913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1913 {
  position:absolute;
  left:931px;
  top:303px;
  width:109px;
  height:17px;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1914 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:2px;
}
#u1915 {
  position:absolute;
  left:924px;
  top:286px;
  width:228px;
  height:1px;
}
#u1916 {
  position:absolute;
  left:2px;
  top:-8px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:2px;
}
#u1917 {
  position:absolute;
  left:924px;
  top:321px;
  width:228px;
  height:1px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:-8px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#333333;
  text-align:right;
}
#u1919 {
  position:absolute;
  left:1086px;
  top:304px;
  width:49px;
  height:32px;
  font-size:13px;
  color:#333333;
  text-align:right;
}
#u1920 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:8px;
}
#u1921 {
  position:absolute;
  left:1140px;
  top:311px;
  width:5px;
  height:8px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:33px;
  background:inherit;
  background-color:rgba(17, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1924 {
  position:absolute;
  left:934px;
  top:425px;
  width:209px;
  height:33px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:8px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1926 {
  position:absolute;
  left:991px;
  top:431px;
  width:96px;
  height:26px;
  color:#FFFFFF;
  text-align:center;
}
#u1927 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u1928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1928 {
  position:absolute;
  left:85px;
  top:179px;
  width:375px;
  height:667px;
}
#u1929 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1931 {
  position:absolute;
  left:85px;
  top:179px;
  width:375px;
  height:27px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u1933 {
  position:absolute;
  left:90px;
  top:189px;
  width:360px;
  height:11px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 138, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
}
#u1935 {
  position:absolute;
  left:85px;
  top:206px;
  width:375px;
  height:44px;
  color:#098AE8;
}
#u1936 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:48px;
  background:inherit;
  background-color:rgba(17, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1939 {
  position:absolute;
  left:107px;
  top:738px;
  width:344px;
  height:48px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:16px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1941 {
  position:absolute;
  left:201px;
  top:749px;
  width:158px;
  height:26px;
  color:#FFFFFF;
  text-align:center;
}
#u1942 {
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  word-wrap:break-word;
}
#u1943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2697EB;
}
#u1943 {
  position:absolute;
  left:117px;
  top:219px;
  width:37px;
  height:23px;
  color:#2697EB;
}
#u1944 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u1945 {
  position:absolute;
  left:100px;
  top:222px;
  width:11px;
  height:16px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u1947 {
  position:absolute;
  left:220px;
  top:218px;
  width:113px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u1948 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  white-space:nowrap;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:4px;
}
#u1949 {
  position:absolute;
  left:423px;
  top:231px;
  width:22px;
  height:4px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 138, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
}
#u1951 {
  position:absolute;
  left:85px;
  top:287px;
  width:375px;
  height:118px;
  color:#098AE8;
}
#u1952 {
  position:absolute;
  left:2px;
  top:51px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1953 {
  position:absolute;
  left:107px;
  top:298px;
  width:57px;
  height:16px;
}
#u1954 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}
#u1955 {
  position:absolute;
  left:162px;
  top:310px;
  width:221px;
  height:83px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}
#u1956 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1957 {
  position:absolute;
  left:107px;
  top:420px;
  width:57px;
  height:16px;
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 138, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
}
#u1959 {
  position:absolute;
  left:85px;
  top:446px;
  width:375px;
  height:66px;
  color:#098AE8;
}
#u1960 {
  position:absolute;
  left:2px;
  top:25px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 138, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
}
#u1961 {
  position:absolute;
  left:85px;
  top:521px;
  width:375px;
  height:66px;
  color:#098AE8;
}
#u1962 {
  position:absolute;
  left:2px;
  top:25px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:44px;
}
#u1963 {
  position:absolute;
  left:109px;
  top:457px;
  width:54px;
  height:44px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:14px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:42px;
}
#u1965 {
  position:absolute;
  left:112px;
  top:533px;
  width:48px;
  height:42px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:13px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1967 {
  position:absolute;
  left:173px;
  top:459px;
  width:57px;
  height:16px;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1969 {
  position:absolute;
  left:173px;
  top:485px;
  width:231px;
  height:16px;
  color:#999999;
}
#u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1971 {
  position:absolute;
  left:173px;
  top:559px;
  width:127px;
  height:16px;
  color:#999999;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1973 {
  position:absolute;
  left:173px;
  top:533px;
  width:71px;
  height:16px;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1975 {
  position:absolute;
  left:423px;
  top:483px;
  width:28px;
  height:16px;
}
#u1976 {
  position:absolute;
  left:16px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1977 {
  position:absolute;
  left:423px;
  top:553px;
  width:28px;
  height:16px;
}
#u1978 {
  position:absolute;
  left:16px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 138, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
}
#u1979 {
  position:absolute;
  left:85px;
  top:597px;
  width:375px;
  height:66px;
  color:#098AE8;
}
#u1980 {
  position:absolute;
  left:2px;
  top:25px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:61px;
}
#u1981 {
  position:absolute;
  left:102px;
  top:597px;
  width:68px;
  height:61px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:22px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1983 {
  position:absolute;
  left:173px;
  top:606px;
  width:85px;
  height:16px;
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1985 {
  position:absolute;
  left:173px;
  top:632px;
  width:57px;
  height:16px;
  color:#999999;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1987 {
  position:absolute;
  left:424px;
  top:620px;
  width:28px;
  height:16px;
}
#u1988 {
  position:absolute;
  left:16px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1989 {
  position:absolute;
  left:498px;
  top:599px;
  width:161px;
  height:25px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1990 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1991 {
  position:absolute;
  left:498px;
  top:646px;
  width:308px;
  height:80px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1992 {
  position:absolute;
  left:8px;
  top:4px;
  width:300px;
  word-wrap:break-word;
}
#u1993 {
  position:absolute;
  left:176px;
  top:593px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u1993_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:429px;
  height:8px;
}
#u1993_seg1 {
  position:absolute;
  left:421px;
  top:-4px;
  width:8px;
  height:10px;
}
#u1993_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1994 {
  position:absolute;
  left:166px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
