body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1008px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:925px;
}
#u2048 {
  position:absolute;
  left:50px;
  top:50px;
  width:442px;
  height:925px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:454px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2050 {
  position:absolute;
  left:81px;
  top:179px;
  width:375px;
  height:667px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2053 {
  position:absolute;
  left:81px;
  top:179px;
  width:375px;
  height:27px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u2055 {
  position:absolute;
  left:86px;
  top:189px;
  width:360px;
  height:11px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2057 {
  position:absolute;
  left:81px;
  top:206px;
  width:375px;
  height:65px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2697EB;
}
#u2059 {
  position:absolute;
  left:113px;
  top:222px;
  width:37px;
  height:23px;
  color:#2697EB;
}
#u2060 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u2061 {
  position:absolute;
  left:96px;
  top:225px;
  width:11px;
  height:16px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u2063 {
  position:absolute;
  left:229px;
  top:221px;
  width:77px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u2064 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:4px;
}
#u2065 {
  position:absolute;
  left:419px;
  top:234px;
  width:22px;
  height:4px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u2067 {
  position:absolute;
  left:218px;
  top:298px;
  width:101px;
  height:81px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:87px;
}
#u2069 {
  position:absolute;
  left:96px;
  top:292px;
  width:101px;
  height:87px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:36px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u2071 {
  position:absolute;
  left:340px;
  top:298px;
  width:101px;
  height:81px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u2073 {
  position:absolute;
  left:96px;
  top:401px;
  width:101px;
  height:81px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u2075 {
  position:absolute;
  left:218px;
  top:401px;
  width:101px;
  height:81px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u2077 {
  position:absolute;
  left:340px;
  top:401px;
  width:101px;
  height:81px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u2079 {
  position:absolute;
  left:96px;
  top:504px;
  width:101px;
  height:81px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u2081 {
  position:absolute;
  left:218px;
  top:504px;
  width:101px;
  height:81px;
}
#u2082 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u2083 {
  position:absolute;
  left:340px;
  top:504px;
  width:101px;
  height:81px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u2085 {
  position:absolute;
  left:96px;
  top:607px;
  width:101px;
  height:81px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u2087 {
  position:absolute;
  left:218px;
  top:607px;
  width:101px;
  height:81px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u2089 {
  position:absolute;
  left:340px;
  top:607px;
  width:101px;
  height:81px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2091 {
  position:absolute;
  left:95px;
  top:769px;
  width:102px;
  height:72px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:28px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:52px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2093 {
  position:absolute;
  left:323px;
  top:773px;
  width:125px;
  height:52px;
  color:#FFFFFF;
}
#u2094 {
  position:absolute;
  left:2px;
  top:18px;
  width:121px;
  word-wrap:break-word;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2096 {
  position:absolute;
  left:421px;
  top:307px;
  width:27px;
  height:16px;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u2098 {
  position:absolute;
  left:411px;
  top:307px;
}
#u2098_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2098_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2099 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2099_img.mouseOver {
}
#u2099.mouseOver {
}
#u2099_img.mouseDown {
}
#u2099.mouseDown {
}
#u2099_img.disabled {
}
#u2099.disabled {
}
#u2100 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2098_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2101 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2101_img.mouseOver {
}
#u2101.mouseOver {
}
#u2101_img.mouseDown {
}
#u2101.mouseDown {
}
#u2101_img.disabled {
}
#u2101.disabled {
}
#u2102 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2104 {
  position:absolute;
  left:421px;
  top:410px;
  width:27px;
  height:16px;
}
#u2105 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u2106 {
  position:absolute;
  left:411px;
  top:410px;
}
#u2106_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2106_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2107 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2107_img.mouseOver {
}
#u2107.mouseOver {
}
#u2107_img.mouseDown {
}
#u2107.mouseDown {
}
#u2107_img.disabled {
}
#u2107.disabled {
}
#u2108 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2106_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2109 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2109_img.mouseOver {
}
#u2109.mouseOver {
}
#u2109_img.mouseDown {
}
#u2109.mouseDown {
}
#u2109_img.disabled {
}
#u2109.disabled {
}
#u2110 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2112 {
  position:absolute;
  left:421px;
  top:514px;
  width:27px;
  height:16px;
}
#u2113 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u2114 {
  position:absolute;
  left:411px;
  top:514px;
}
#u2114_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2114_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2115 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2115_img.mouseOver {
}
#u2115.mouseOver {
}
#u2115_img.mouseDown {
}
#u2115.mouseDown {
}
#u2115_img.disabled {
}
#u2115.disabled {
}
#u2116 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2114_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2114_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2117 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2117_img.mouseOver {
}
#u2117.mouseOver {
}
#u2117_img.mouseDown {
}
#u2117.mouseDown {
}
#u2117_img.disabled {
}
#u2117.disabled {
}
#u2118 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2120 {
  position:absolute;
  left:300px;
  top:307px;
  width:27px;
  height:16px;
}
#u2121 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u2122 {
  position:absolute;
  left:290px;
  top:307px;
}
#u2122_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2122_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2123_img.mouseOver {
}
#u2123.mouseOver {
}
#u2123_img.mouseDown {
}
#u2123.mouseDown {
}
#u2123_img.disabled {
}
#u2123.disabled {
}
#u2124 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2122_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2122_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2125 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2125_img.mouseOver {
}
#u2125.mouseOver {
}
#u2125_img.mouseDown {
}
#u2125.mouseDown {
}
#u2125_img.disabled {
}
#u2125.disabled {
}
#u2126 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2128 {
  position:absolute;
  left:292px;
  top:410px;
  width:27px;
  height:16px;
}
#u2129 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u2130 {
  position:absolute;
  left:282px;
  top:410px;
}
#u2130_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2130_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2131 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2131_img.mouseOver {
}
#u2131.mouseOver {
}
#u2131_img.mouseDown {
}
#u2131.mouseDown {
}
#u2131_img.disabled {
}
#u2131.disabled {
}
#u2132 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2130_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2130_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2133 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2133_img.mouseOver {
}
#u2133.mouseOver {
}
#u2133_img.mouseDown {
}
#u2133.mouseDown {
}
#u2133_img.disabled {
}
#u2133.disabled {
}
#u2134 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2136 {
  position:absolute;
  left:181px;
  top:410px;
  width:27px;
  height:16px;
}
#u2137 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u2138 {
  position:absolute;
  left:171px;
  top:410px;
}
#u2138_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2138_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2139 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2139_img.mouseOver {
}
#u2139.mouseOver {
}
#u2139_img.mouseDown {
}
#u2139.mouseDown {
}
#u2139_img.disabled {
}
#u2139.disabled {
}
#u2140 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2138_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2141 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2141_img.mouseOver {
}
#u2141.mouseOver {
}
#u2141_img.mouseDown {
}
#u2141.mouseDown {
}
#u2141_img.disabled {
}
#u2141.disabled {
}
#u2142 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2144 {
  position:absolute;
  left:181px;
  top:514px;
  width:27px;
  height:16px;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u2146 {
  position:absolute;
  left:171px;
  top:514px;
}
#u2146_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2146_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2147 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2147_img.mouseOver {
}
#u2147.mouseOver {
}
#u2147_img.mouseDown {
}
#u2147.mouseDown {
}
#u2147_img.disabled {
}
#u2147.disabled {
}
#u2148 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2146_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2149 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2149_img.mouseOver {
}
#u2149.mouseOver {
}
#u2149_img.mouseDown {
}
#u2149.mouseDown {
}
#u2149_img.disabled {
}
#u2149.disabled {
}
#u2150 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2152 {
  position:absolute;
  left:302px;
  top:514px;
  width:27px;
  height:16px;
}
#u2153 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u2154 {
  position:absolute;
  left:292px;
  top:514px;
}
#u2154_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2154_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2155 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2155_img.mouseOver {
}
#u2155.mouseOver {
}
#u2155_img.mouseDown {
}
#u2155.mouseDown {
}
#u2155_img.disabled {
}
#u2155.disabled {
}
#u2156 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2154_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2154_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2157 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2157_img.mouseOver {
}
#u2157.mouseOver {
}
#u2157_img.mouseDown {
}
#u2157.mouseDown {
}
#u2157_img.disabled {
}
#u2157.disabled {
}
#u2158 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2159 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2160 {
  position:absolute;
  left:181px;
  top:616px;
  width:27px;
  height:16px;
}
#u2161 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u2162 {
  position:absolute;
  left:171px;
  top:616px;
}
#u2162_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2162_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2163 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2163_img.mouseOver {
}
#u2163.mouseOver {
}
#u2163_img.mouseDown {
}
#u2163.mouseDown {
}
#u2163_img.disabled {
}
#u2163.disabled {
}
#u2164 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2162_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2162_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2165 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2165_img.mouseOver {
}
#u2165.mouseOver {
}
#u2165_img.mouseDown {
}
#u2165.mouseDown {
}
#u2165_img.disabled {
}
#u2165.disabled {
}
#u2166 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2168 {
  position:absolute;
  left:300px;
  top:616px;
  width:27px;
  height:16px;
}
#u2169 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u2170 {
  position:absolute;
  left:290px;
  top:616px;
}
#u2170_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2170_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2171 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2171_img.mouseOver {
}
#u2171.mouseOver {
}
#u2171_img.mouseDown {
}
#u2171.mouseDown {
}
#u2171_img.disabled {
}
#u2171.disabled {
}
#u2172 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2170_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2173 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2173_img.mouseOver {
}
#u2173.mouseOver {
}
#u2173_img.mouseDown {
}
#u2173.mouseDown {
}
#u2173_img.disabled {
}
#u2173.disabled {
}
#u2174 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2175 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2176 {
  position:absolute;
  left:426px;
  top:616px;
  width:27px;
  height:16px;
}
#u2177 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u2178 {
  position:absolute;
  left:416px;
  top:616px;
}
#u2178_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2178_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2179_img.mouseOver {
}
#u2179.mouseOver {
}
#u2179_img.mouseDown {
}
#u2179.mouseDown {
}
#u2179_img.disabled {
}
#u2179.disabled {
}
#u2180 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2178_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2181 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2181_img.mouseOver {
}
#u2181.mouseOver {
}
#u2181_img.mouseDown {
}
#u2181.mouseDown {
}
#u2181_img.disabled {
}
#u2181.disabled {
}
#u2182 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:39px;
}
#u2183 {
  position:absolute;
  left:95px;
  top:784px;
  width:49px;
  height:39px;
}
#u2184 {
  position:absolute;
  left:2px;
  top:12px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:39px;
}
#u2185 {
  position:absolute;
  left:144px;
  top:784px;
  width:49px;
  height:39px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:12px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2187 {
  position:absolute;
  left:99px;
  top:750px;
  width:66px;
  height:16px;
  font-size:13px;
}
#u2188 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2189 {
  position:absolute;
  left:174px;
  top:770px;
  width:16px;
  height:16px;
}
#u2190 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2191 {
  position:absolute;
  left:124px;
  top:770px;
  width:16px;
  height:16px;
}
#u2192 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF3399;
}
#u2193 {
  position:absolute;
  left:605px;
  top:184px;
  width:193px;
  height:36px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF3399;
}
#u2194 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2195 {
  position:absolute;
  left:175px;
  top:302px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u2195_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u2195_seg1 {
  position:absolute;
  left:15px;
  top:-32px;
  width:8px;
  height:36px;
}
#u2195_seg2 {
  position:absolute;
  left:15px;
  top:-32px;
  width:408px;
  height:8px;
}
#u2195_seg3 {
  position:absolute;
  left:415px;
  top:-104px;
  width:8px;
  height:80px;
}
#u2195_seg4 {
  position:absolute;
  left:415px;
  top:-104px;
  width:15px;
  height:8px;
}
#u2195_seg5 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2196 {
  position:absolute;
  left:187px;
  top:-36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u2197 {
  position:absolute;
  left:565px;
  top:446px;
  width:246px;
  height:98px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u2198 {
  position:absolute;
  left:8px;
  top:4px;
  width:238px;
  word-wrap:break-word;
}
#u2199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF3399;
}
#u2199 {
  position:absolute;
  left:557px;
  top:384px;
  width:191px;
  height:36px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF3399;
}
#u2200 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u2201 {
  position:absolute;
  left:459px;
  top:406px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u2201_seg0 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:8px;
  height:8px;
}
#u2201_seg1 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:102px;
  height:8px;
}
#u2201_seg2 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u2202 {
  position:absolute;
  left:-3px;
  top:-12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2203 {
  position:absolute;
  left:50px;
  top:1016px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2204 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2205 {
  position:absolute;
  left:60px;
  top:1061px;
  width:953px;
  height:370px;
}
#u2206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:80px;
}
#u2206 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2207 {
  position:absolute;
  left:2px;
  top:30px;
  width:39px;
  word-wrap:break-word;
}
#u2208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:80px;
}
#u2208 {
  position:absolute;
  left:43px;
  top:0px;
  width:125px;
  height:80px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2209 {
  position:absolute;
  left:2px;
  top:30px;
  width:121px;
  word-wrap:break-word;
}
#u2210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:80px;
}
#u2210 {
  position:absolute;
  left:168px;
  top:0px;
  width:258px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2211 {
  position:absolute;
  left:2px;
  top:30px;
  width:254px;
  word-wrap:break-word;
}
#u2212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:80px;
}
#u2212 {
  position:absolute;
  left:426px;
  top:0px;
  width:184px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2213 {
  position:absolute;
  left:2px;
  top:30px;
  width:180px;
  word-wrap:break-word;
}
#u2214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:80px;
}
#u2214 {
  position:absolute;
  left:610px;
  top:0px;
  width:182px;
  height:80px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2215 {
  position:absolute;
  left:2px;
  top:30px;
  width:178px;
  word-wrap:break-word;
}
#u2216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:80px;
}
#u2216 {
  position:absolute;
  left:792px;
  top:0px;
  width:156px;
  height:80px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2217 {
  position:absolute;
  left:2px;
  top:30px;
  width:152px;
  word-wrap:break-word;
}
#u2218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:148px;
}
#u2218 {
  position:absolute;
  left:0px;
  top:80px;
  width:43px;
  height:148px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2219 {
  position:absolute;
  left:2px;
  top:65px;
  width:39px;
  word-wrap:break-word;
}
#u2220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:148px;
}
#u2220 {
  position:absolute;
  left:43px;
  top:80px;
  width:125px;
  height:148px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2221 {
  position:absolute;
  left:2px;
  top:65px;
  width:121px;
  word-wrap:break-word;
}
#u2222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:148px;
}
#u2222 {
  position:absolute;
  left:168px;
  top:80px;
  width:258px;
  height:148px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2223 {
  position:absolute;
  left:2px;
  top:47px;
  width:254px;
  word-wrap:break-word;
}
#u2224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:148px;
}
#u2224 {
  position:absolute;
  left:426px;
  top:80px;
  width:184px;
  height:148px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2225 {
  position:absolute;
  left:2px;
  top:56px;
  width:180px;
  word-wrap:break-word;
}
#u2226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:148px;
}
#u2226 {
  position:absolute;
  left:610px;
  top:80px;
  width:182px;
  height:148px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2227 {
  position:absolute;
  left:2px;
  top:65px;
  width:178px;
  word-wrap:break-word;
}
#u2228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:148px;
}
#u2228 {
  position:absolute;
  left:792px;
  top:80px;
  width:156px;
  height:148px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2229 {
  position:absolute;
  left:2px;
  top:65px;
  width:152px;
  word-wrap:break-word;
}
#u2230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:137px;
}
#u2230 {
  position:absolute;
  left:0px;
  top:228px;
  width:43px;
  height:137px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2231 {
  position:absolute;
  left:2px;
  top:60px;
  width:39px;
  word-wrap:break-word;
}
#u2232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:137px;
}
#u2232 {
  position:absolute;
  left:43px;
  top:228px;
  width:125px;
  height:137px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2233 {
  position:absolute;
  left:2px;
  top:60px;
  width:121px;
  word-wrap:break-word;
}
#u2234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:137px;
}
#u2234 {
  position:absolute;
  left:168px;
  top:228px;
  width:258px;
  height:137px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2235 {
  position:absolute;
  left:2px;
  top:14px;
  width:254px;
  word-wrap:break-word;
}
#u2236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:137px;
}
#u2236 {
  position:absolute;
  left:426px;
  top:228px;
  width:184px;
  height:137px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2237 {
  position:absolute;
  left:2px;
  top:50px;
  width:180px;
  word-wrap:break-word;
}
#u2238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:137px;
}
#u2238 {
  position:absolute;
  left:610px;
  top:228px;
  width:182px;
  height:137px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2239 {
  position:absolute;
  left:2px;
  top:50px;
  width:178px;
  word-wrap:break-word;
}
#u2240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:137px;
}
#u2240 {
  position:absolute;
  left:792px;
  top:228px;
  width:156px;
  height:137px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2241 {
  position:absolute;
  left:2px;
  top:32px;
  width:152px;
  word-wrap:break-word;
}
