body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1008px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:925px;
}
#u1838 {
  position:absolute;
  left:50px;
  top:50px;
  width:442px;
  height:925px;
}
#u1839 {
  position:absolute;
  left:2px;
  top:454px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1840 {
  position:absolute;
  left:81px;
  top:179px;
  width:375px;
  height:667px;
}
#u1841 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1842 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1843 {
  position:absolute;
  left:81px;
  top:179px;
  width:375px;
  height:27px;
}
#u1844 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u1845 {
  position:absolute;
  left:86px;
  top:189px;
  width:360px;
  height:11px;
}
#u1846 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1847 {
  position:absolute;
  left:81px;
  top:206px;
  width:375px;
  height:65px;
}
#u1848 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2697EB;
}
#u1849 {
  position:absolute;
  left:113px;
  top:222px;
  width:37px;
  height:23px;
  color:#2697EB;
}
#u1850 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u1851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u1851 {
  position:absolute;
  left:96px;
  top:225px;
  width:11px;
  height:16px;
}
#u1852 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u1853 {
  position:absolute;
  left:229px;
  top:221px;
  width:77px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u1854 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u1855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:4px;
}
#u1855 {
  position:absolute;
  left:419px;
  top:234px;
  width:22px;
  height:4px;
}
#u1856 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u1857 {
  position:absolute;
  left:218px;
  top:298px;
  width:101px;
  height:81px;
}
#u1858 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:87px;
}
#u1859 {
  position:absolute;
  left:96px;
  top:292px;
  width:101px;
  height:87px;
}
#u1860 {
  position:absolute;
  left:2px;
  top:36px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u1861 {
  position:absolute;
  left:340px;
  top:298px;
  width:101px;
  height:81px;
}
#u1862 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u1863 {
  position:absolute;
  left:96px;
  top:401px;
  width:101px;
  height:81px;
}
#u1864 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u1865 {
  position:absolute;
  left:218px;
  top:401px;
  width:101px;
  height:81px;
}
#u1866 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u1867 {
  position:absolute;
  left:340px;
  top:401px;
  width:101px;
  height:81px;
}
#u1868 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u1869 {
  position:absolute;
  left:96px;
  top:504px;
  width:101px;
  height:81px;
}
#u1870 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u1871 {
  position:absolute;
  left:218px;
  top:504px;
  width:101px;
  height:81px;
}
#u1872 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u1873 {
  position:absolute;
  left:340px;
  top:504px;
  width:101px;
  height:81px;
}
#u1874 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u1875 {
  position:absolute;
  left:96px;
  top:607px;
  width:101px;
  height:81px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u1877 {
  position:absolute;
  left:218px;
  top:607px;
  width:101px;
  height:81px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u1879 {
  position:absolute;
  left:340px;
  top:607px;
  width:101px;
  height:81px;
}
#u1880 {
  position:absolute;
  left:2px;
  top:32px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1881 {
  position:absolute;
  left:95px;
  top:769px;
  width:102px;
  height:72px;
}
#u1882 {
  position:absolute;
  left:2px;
  top:28px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:52px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1883 {
  position:absolute;
  left:323px;
  top:773px;
  width:125px;
  height:52px;
  color:#FFFFFF;
}
#u1884 {
  position:absolute;
  left:2px;
  top:18px;
  width:121px;
  word-wrap:break-word;
}
#u1885 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1886 {
  position:absolute;
  left:421px;
  top:307px;
  width:27px;
  height:16px;
}
#u1887 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u1888 {
  position:absolute;
  left:411px;
  top:307px;
}
#u1888_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1888_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1889 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1889_img.mouseOver {
}
#u1889.mouseOver {
}
#u1889_img.mouseDown {
}
#u1889.mouseDown {
}
#u1889_img.disabled {
}
#u1889.disabled {
}
#u1890 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1888_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1888_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1891 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1891_img.mouseOver {
}
#u1891.mouseOver {
}
#u1891_img.mouseDown {
}
#u1891.mouseDown {
}
#u1891_img.disabled {
}
#u1891.disabled {
}
#u1892 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1894 {
  position:absolute;
  left:421px;
  top:410px;
  width:27px;
  height:16px;
}
#u1895 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u1896 {
  position:absolute;
  left:411px;
  top:410px;
}
#u1896_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1896_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1897 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1897_img.mouseOver {
}
#u1897.mouseOver {
}
#u1897_img.mouseDown {
}
#u1897.mouseDown {
}
#u1897_img.disabled {
}
#u1897.disabled {
}
#u1898 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1896_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1899 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1899_img.mouseOver {
}
#u1899.mouseOver {
}
#u1899_img.mouseDown {
}
#u1899.mouseDown {
}
#u1899_img.disabled {
}
#u1899.disabled {
}
#u1900 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1902 {
  position:absolute;
  left:421px;
  top:514px;
  width:27px;
  height:16px;
}
#u1903 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u1904 {
  position:absolute;
  left:411px;
  top:514px;
}
#u1904_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1904_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1905 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1905_img.mouseOver {
}
#u1905.mouseOver {
}
#u1905_img.mouseDown {
}
#u1905.mouseDown {
}
#u1905_img.disabled {
}
#u1905.disabled {
}
#u1906 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1904_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1904_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1907 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1907_img.mouseOver {
}
#u1907.mouseOver {
}
#u1907_img.mouseDown {
}
#u1907.mouseDown {
}
#u1907_img.disabled {
}
#u1907.disabled {
}
#u1908 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1910 {
  position:absolute;
  left:300px;
  top:307px;
  width:27px;
  height:16px;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u1912 {
  position:absolute;
  left:290px;
  top:307px;
}
#u1912_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1912_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1913 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1913_img.mouseOver {
}
#u1913.mouseOver {
}
#u1913_img.mouseDown {
}
#u1913.mouseDown {
}
#u1913_img.disabled {
}
#u1913.disabled {
}
#u1914 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1912_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1912_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1915 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1915_img.mouseOver {
}
#u1915.mouseOver {
}
#u1915_img.mouseDown {
}
#u1915.mouseDown {
}
#u1915_img.disabled {
}
#u1915.disabled {
}
#u1916 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1918 {
  position:absolute;
  left:292px;
  top:410px;
  width:27px;
  height:16px;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u1920 {
  position:absolute;
  left:282px;
  top:410px;
}
#u1920_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1920_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1921 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1921_img.mouseOver {
}
#u1921.mouseOver {
}
#u1921_img.mouseDown {
}
#u1921.mouseDown {
}
#u1921_img.disabled {
}
#u1921.disabled {
}
#u1922 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1920_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1920_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1923 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1923_img.mouseOver {
}
#u1923.mouseOver {
}
#u1923_img.mouseDown {
}
#u1923.mouseDown {
}
#u1923_img.disabled {
}
#u1923.disabled {
}
#u1924 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1926 {
  position:absolute;
  left:181px;
  top:410px;
  width:27px;
  height:16px;
}
#u1927 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u1928 {
  position:absolute;
  left:171px;
  top:410px;
}
#u1928_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1928_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1929 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1929_img.mouseOver {
}
#u1929.mouseOver {
}
#u1929_img.mouseDown {
}
#u1929.mouseDown {
}
#u1929_img.disabled {
}
#u1929.disabled {
}
#u1930 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1928_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1931 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1931_img.mouseOver {
}
#u1931.mouseOver {
}
#u1931_img.mouseDown {
}
#u1931.mouseDown {
}
#u1931_img.disabled {
}
#u1931.disabled {
}
#u1932 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1934 {
  position:absolute;
  left:181px;
  top:514px;
  width:27px;
  height:16px;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u1936 {
  position:absolute;
  left:171px;
  top:514px;
}
#u1936_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1936_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1937 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1937_img.mouseOver {
}
#u1937.mouseOver {
}
#u1937_img.mouseDown {
}
#u1937.mouseDown {
}
#u1937_img.disabled {
}
#u1937.disabled {
}
#u1938 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1936_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1939_img.mouseOver {
}
#u1939.mouseOver {
}
#u1939_img.mouseDown {
}
#u1939.mouseDown {
}
#u1939_img.disabled {
}
#u1939.disabled {
}
#u1940 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1942 {
  position:absolute;
  left:302px;
  top:514px;
  width:27px;
  height:16px;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u1944 {
  position:absolute;
  left:292px;
  top:514px;
}
#u1944_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1944_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1945_img.mouseOver {
}
#u1945.mouseOver {
}
#u1945_img.mouseDown {
}
#u1945.mouseDown {
}
#u1945_img.disabled {
}
#u1945.disabled {
}
#u1946 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1944_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1947 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1947_img.mouseOver {
}
#u1947.mouseOver {
}
#u1947_img.mouseDown {
}
#u1947.mouseDown {
}
#u1947_img.disabled {
}
#u1947.disabled {
}
#u1948 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1950 {
  position:absolute;
  left:181px;
  top:616px;
  width:27px;
  height:16px;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u1952 {
  position:absolute;
  left:171px;
  top:616px;
}
#u1952_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1952_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1953 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1953_img.mouseOver {
}
#u1953.mouseOver {
}
#u1953_img.mouseDown {
}
#u1953.mouseDown {
}
#u1953_img.disabled {
}
#u1953.disabled {
}
#u1954 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1952_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1952_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1955_img.mouseOver {
}
#u1955.mouseOver {
}
#u1955_img.mouseDown {
}
#u1955.mouseDown {
}
#u1955_img.disabled {
}
#u1955.disabled {
}
#u1956 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1958 {
  position:absolute;
  left:300px;
  top:616px;
  width:27px;
  height:16px;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u1960 {
  position:absolute;
  left:290px;
  top:616px;
}
#u1960_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1960_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1961 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1961_img.mouseOver {
}
#u1961.mouseOver {
}
#u1961_img.mouseDown {
}
#u1961.mouseDown {
}
#u1961_img.disabled {
}
#u1961.disabled {
}
#u1962 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1960_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1960_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1963_img.mouseOver {
}
#u1963.mouseOver {
}
#u1963_img.mouseDown {
}
#u1963.mouseDown {
}
#u1963_img.disabled {
}
#u1963.disabled {
}
#u1964 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1966 {
  position:absolute;
  left:426px;
  top:616px;
  width:27px;
  height:16px;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u1968 {
  position:absolute;
  left:416px;
  top:616px;
}
#u1968_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1968_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1969_img.mouseOver {
}
#u1969.mouseOver {
}
#u1969_img.mouseDown {
}
#u1969.mouseDown {
}
#u1969_img.disabled {
}
#u1969.disabled {
}
#u1970 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1968_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1968_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1971_img.mouseOver {
}
#u1971.mouseOver {
}
#u1971_img.mouseDown {
}
#u1971.mouseDown {
}
#u1971_img.disabled {
}
#u1971.disabled {
}
#u1972 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:39px;
}
#u1973 {
  position:absolute;
  left:95px;
  top:784px;
  width:49px;
  height:39px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:12px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:39px;
}
#u1975 {
  position:absolute;
  left:144px;
  top:784px;
  width:49px;
  height:39px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:12px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1977 {
  position:absolute;
  left:99px;
  top:750px;
  width:66px;
  height:16px;
  font-size:13px;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1979 {
  position:absolute;
  left:174px;
  top:770px;
  width:16px;
  height:16px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1981 {
  position:absolute;
  left:124px;
  top:770px;
  width:16px;
  height:16px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF3399;
}
#u1983 {
  position:absolute;
  left:605px;
  top:184px;
  width:193px;
  height:36px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF3399;
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1985 {
  position:absolute;
  left:175px;
  top:302px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u1985_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u1985_seg1 {
  position:absolute;
  left:15px;
  top:-32px;
  width:8px;
  height:36px;
}
#u1985_seg2 {
  position:absolute;
  left:15px;
  top:-32px;
  width:408px;
  height:8px;
}
#u1985_seg3 {
  position:absolute;
  left:415px;
  top:-104px;
  width:8px;
  height:80px;
}
#u1985_seg4 {
  position:absolute;
  left:415px;
  top:-104px;
  width:15px;
  height:8px;
}
#u1985_seg5 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1986 {
  position:absolute;
  left:187px;
  top:-36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1987 {
  position:absolute;
  left:565px;
  top:446px;
  width:246px;
  height:98px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1988 {
  position:absolute;
  left:8px;
  top:4px;
  width:238px;
  word-wrap:break-word;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF3399;
}
#u1989 {
  position:absolute;
  left:557px;
  top:384px;
  width:191px;
  height:36px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF3399;
}
#u1990 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u1991 {
  position:absolute;
  left:459px;
  top:406px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u1991_seg0 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:8px;
  height:8px;
}
#u1991_seg1 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:102px;
  height:8px;
}
#u1991_seg2 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u1992 {
  position:absolute;
  left:-3px;
  top:-12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1993 {
  position:absolute;
  left:50px;
  top:1016px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1995 {
  position:absolute;
  left:60px;
  top:1061px;
  width:953px;
  height:370px;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:80px;
}
#u1996 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:30px;
  width:39px;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:80px;
}
#u1998 {
  position:absolute;
  left:43px;
  top:0px;
  width:125px;
  height:80px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:30px;
  width:121px;
  word-wrap:break-word;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:80px;
}
#u2000 {
  position:absolute;
  left:168px;
  top:0px;
  width:258px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:30px;
  width:254px;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:80px;
}
#u2002 {
  position:absolute;
  left:426px;
  top:0px;
  width:184px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:30px;
  width:180px;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:80px;
}
#u2004 {
  position:absolute;
  left:610px;
  top:0px;
  width:182px;
  height:80px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:30px;
  width:178px;
  word-wrap:break-word;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:80px;
}
#u2006 {
  position:absolute;
  left:792px;
  top:0px;
  width:156px;
  height:80px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2007 {
  position:absolute;
  left:2px;
  top:30px;
  width:152px;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:148px;
}
#u2008 {
  position:absolute;
  left:0px;
  top:80px;
  width:43px;
  height:148px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2009 {
  position:absolute;
  left:2px;
  top:65px;
  width:39px;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:148px;
}
#u2010 {
  position:absolute;
  left:43px;
  top:80px;
  width:125px;
  height:148px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2011 {
  position:absolute;
  left:2px;
  top:65px;
  width:121px;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:148px;
}
#u2012 {
  position:absolute;
  left:168px;
  top:80px;
  width:258px;
  height:148px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2013 {
  position:absolute;
  left:2px;
  top:47px;
  width:254px;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:148px;
}
#u2014 {
  position:absolute;
  left:426px;
  top:80px;
  width:184px;
  height:148px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2015 {
  position:absolute;
  left:2px;
  top:56px;
  width:180px;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:148px;
}
#u2016 {
  position:absolute;
  left:610px;
  top:80px;
  width:182px;
  height:148px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2017 {
  position:absolute;
  left:2px;
  top:65px;
  width:178px;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:148px;
}
#u2018 {
  position:absolute;
  left:792px;
  top:80px;
  width:156px;
  height:148px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2019 {
  position:absolute;
  left:2px;
  top:65px;
  width:152px;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:137px;
}
#u2020 {
  position:absolute;
  left:0px;
  top:228px;
  width:43px;
  height:137px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:60px;
  width:39px;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:137px;
}
#u2022 {
  position:absolute;
  left:43px;
  top:228px;
  width:125px;
  height:137px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2023 {
  position:absolute;
  left:2px;
  top:60px;
  width:121px;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:137px;
}
#u2024 {
  position:absolute;
  left:168px;
  top:228px;
  width:258px;
  height:137px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2025 {
  position:absolute;
  left:2px;
  top:14px;
  width:254px;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:137px;
}
#u2026 {
  position:absolute;
  left:426px;
  top:228px;
  width:184px;
  height:137px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2027 {
  position:absolute;
  left:2px;
  top:50px;
  width:180px;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:137px;
}
#u2028 {
  position:absolute;
  left:610px;
  top:228px;
  width:182px;
  height:137px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2029 {
  position:absolute;
  left:2px;
  top:50px;
  width:178px;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:137px;
}
#u2030 {
  position:absolute;
  left:792px;
  top:228px;
  width:156px;
  height:137px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2031 {
  position:absolute;
  left:2px;
  top:32px;
  width:152px;
  word-wrap:break-word;
}
