body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1145px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1360 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:287px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1361 {
  position:absolute;
  left:917px;
  top:20px;
  width:228px;
  height:287px;
}
#u1362 {
  position:absolute;
  left:2px;
  top:136px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1363 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:287px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.956862745098039);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u1364 {
  position:absolute;
  left:917px;
  top:16px;
  width:228px;
  height:287px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u1365 {
  position:absolute;
  left:2px;
  top:136px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:2px;
}
#u1367 {
  position:absolute;
  left:917px;
  top:56px;
  width:228px;
  height:1px;
}
#u1368 {
  position:absolute;
  left:2px;
  top:-8px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:36px;
}
#u1369 {
  position:absolute;
  left:917px;
  top:16px;
  width:228px;
  height:36px;
}
#u1370 {
  position:absolute;
  left:2px;
  top:10px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u1371 {
  position:absolute;
  left:967px;
  top:26px;
  width:139px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u1372 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u1374 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1375 {
  position:absolute;
  left:924px;
  top:68px;
  width:206px;
  height:27px;
  color:#CCCCCC;
}
#u1376 {
  position:absolute;
  left:2px;
  top:6px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u1377 {
  position:absolute;
  left:958px;
  top:69px;
  width:1px;
  height:27px;
}
#u1378 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u1379 {
  position:absolute;
  left:993px;
  top:69px;
  width:1px;
  height:27px;
}
#u1380 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u1381 {
  position:absolute;
  left:1027px;
  top:69px;
  width:1px;
  height:27px;
}
#u1382 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u1383 {
  position:absolute;
  left:1061px;
  top:69px;
  width:1px;
  height:27px;
}
#u1384 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u1385 {
  position:absolute;
  left:1096px;
  top:69px;
  width:1px;
  height:27px;
}
#u1386 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u1387 {
  position:absolute;
  left:1061px;
  top:96px;
  width:79px;
  height:22px;
  color:#199ED8;
}
#u1388 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u1389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:154px;
}
#u1389 {
  position:absolute;
  left:917px;
  top:149px;
  width:228px;
  height:154px;
}
#u1390 {
  position:absolute;
  left:2px;
  top:69px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1391 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:287px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1392 {
  position:absolute;
  left:633px;
  top:24px;
  width:228px;
  height:287px;
}
#u1393 {
  position:absolute;
  left:2px;
  top:136px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:287px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.956862745098039);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u1394 {
  position:absolute;
  left:633px;
  top:24px;
  width:228px;
  height:287px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u1395 {
  position:absolute;
  left:2px;
  top:136px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1396 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:2px;
}
#u1397 {
  position:absolute;
  left:633px;
  top:53px;
  width:228px;
  height:1px;
}
#u1398 {
  position:absolute;
  left:2px;
  top:-8px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:31px;
}
#u1399 {
  position:absolute;
  left:633px;
  top:20px;
  width:228px;
  height:31px;
}
#u1400 {
  position:absolute;
  left:2px;
  top:8px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  text-align:center;
}
#u1401 {
  position:absolute;
  left:692px;
  top:29px;
  width:108px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  text-align:center;
}
#u1402 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u1403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1403 {
  position:absolute;
  left:640px;
  top:29px;
  width:16px;
  height:16px;
}
#u1404 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1405 {
  position:absolute;
  left:693px;
  top:68px;
  width:108px;
  height:40px;
  text-align:center;
}
#u1406 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u1407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1407 {
  position:absolute;
  left:640px;
  top:104px;
  width:69px;
  height:32px;
  font-size:14px;
  color:#999999;
}
#u1408 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u1409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#333333;
  text-align:right;
}
#u1409 {
  position:absolute;
  left:745px;
  top:104px;
  width:109px;
  height:16px;
  font-size:13px;
  color:#333333;
  text-align:right;
}
#u1410 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u1411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1411 {
  position:absolute;
  left:640px;
  top:140px;
  width:109px;
  height:17px;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1412 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u1413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:2px;
}
#u1413 {
  position:absolute;
  left:633px;
  top:123px;
  width:228px;
  height:1px;
}
#u1414 {
  position:absolute;
  left:2px;
  top:-8px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:2px;
}
#u1415 {
  position:absolute;
  left:633px;
  top:158px;
  width:228px;
  height:1px;
}
#u1416 {
  position:absolute;
  left:2px;
  top:-8px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#333333;
  text-align:right;
}
#u1417 {
  position:absolute;
  left:795px;
  top:141px;
  width:49px;
  height:32px;
  font-size:13px;
  color:#333333;
  text-align:right;
}
#u1418 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u1419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:8px;
}
#u1419 {
  position:absolute;
  left:849px;
  top:148px;
  width:5px;
  height:8px;
}
#u1420 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1421 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:33px;
  background:inherit;
  background-color:rgba(17, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1422 {
  position:absolute;
  left:643px;
  top:262px;
  width:209px;
  height:33px;
}
#u1423 {
  position:absolute;
  left:2px;
  top:8px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1424 {
  position:absolute;
  left:700px;
  top:268px;
  width:96px;
  height:26px;
  color:#FFFFFF;
  text-align:center;
}
#u1425 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u1426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1426 {
  position:absolute;
  left:50px;
  top:0px;
  width:375px;
  height:667px;
}
#u1427 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1428 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1429 {
  position:absolute;
  left:50px;
  top:0px;
  width:375px;
  height:27px;
}
#u1430 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u1431 {
  position:absolute;
  left:55px;
  top:10px;
  width:360px;
  height:11px;
}
#u1432 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 138, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
}
#u1433 {
  position:absolute;
  left:50px;
  top:27px;
  width:375px;
  height:44px;
  color:#098AE8;
}
#u1434 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1435 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1436 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:48px;
  background:inherit;
  background-color:rgba(17, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1437 {
  position:absolute;
  left:59px;
  top:559px;
  width:357px;
  height:48px;
}
#u1438 {
  position:absolute;
  left:2px;
  top:16px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1439 {
  position:absolute;
  left:156px;
  top:570px;
  width:164px;
  height:26px;
  color:#FFFFFF;
  text-align:center;
}
#u1440 {
  position:absolute;
  left:2px;
  top:2px;
  width:160px;
  word-wrap:break-word;
}
#u1441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2697EB;
}
#u1441 {
  position:absolute;
  left:82px;
  top:40px;
  width:37px;
  height:23px;
  color:#2697EB;
}
#u1442 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u1443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u1443 {
  position:absolute;
  left:65px;
  top:43px;
  width:11px;
  height:16px;
}
#u1444 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u1445 {
  position:absolute;
  left:185px;
  top:39px;
  width:113px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u1446 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  white-space:nowrap;
}
#u1447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:4px;
}
#u1447 {
  position:absolute;
  left:388px;
  top:52px;
  width:22px;
  height:4px;
}
#u1448 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 138, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
}
#u1449 {
  position:absolute;
  left:50px;
  top:108px;
  width:375px;
  height:118px;
  color:#098AE8;
}
#u1450 {
  position:absolute;
  left:2px;
  top:51px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1451 {
  position:absolute;
  left:72px;
  top:119px;
  width:57px;
  height:16px;
}
#u1452 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}
#u1453 {
  position:absolute;
  left:127px;
  top:131px;
  width:221px;
  height:83px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}
#u1454 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u1455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1455 {
  position:absolute;
  left:72px;
  top:241px;
  width:57px;
  height:16px;
}
#u1456 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 138, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
}
#u1457 {
  position:absolute;
  left:50px;
  top:267px;
  width:375px;
  height:66px;
  color:#098AE8;
}
#u1458 {
  position:absolute;
  left:2px;
  top:25px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 138, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
}
#u1459 {
  position:absolute;
  left:50px;
  top:342px;
  width:375px;
  height:66px;
  color:#098AE8;
}
#u1460 {
  position:absolute;
  left:2px;
  top:25px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:44px;
}
#u1461 {
  position:absolute;
  left:74px;
  top:278px;
  width:54px;
  height:44px;
}
#u1462 {
  position:absolute;
  left:2px;
  top:14px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:42px;
}
#u1463 {
  position:absolute;
  left:77px;
  top:354px;
  width:48px;
  height:42px;
}
#u1464 {
  position:absolute;
  left:2px;
  top:13px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1465 {
  position:absolute;
  left:138px;
  top:280px;
  width:57px;
  height:16px;
}
#u1466 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1467 {
  position:absolute;
  left:138px;
  top:306px;
  width:231px;
  height:16px;
  color:#999999;
}
#u1468 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u1469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1469 {
  position:absolute;
  left:138px;
  top:380px;
  width:127px;
  height:16px;
  color:#999999;
}
#u1470 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1471 {
  position:absolute;
  left:138px;
  top:354px;
  width:71px;
  height:16px;
}
#u1472 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1473 {
  position:absolute;
  left:388px;
  top:304px;
  width:28px;
  height:16px;
}
#u1474 {
  position:absolute;
  left:16px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1473_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1475 {
  position:absolute;
  left:388px;
  top:374px;
  width:28px;
  height:16px;
}
#u1476 {
  position:absolute;
  left:16px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1475_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 138, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
}
#u1477 {
  position:absolute;
  left:50px;
  top:418px;
  width:375px;
  height:66px;
  color:#098AE8;
}
#u1478 {
  position:absolute;
  left:2px;
  top:25px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:61px;
}
#u1479 {
  position:absolute;
  left:67px;
  top:418px;
  width:68px;
  height:61px;
}
#u1480 {
  position:absolute;
  left:2px;
  top:22px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1481 {
  position:absolute;
  left:138px;
  top:427px;
  width:85px;
  height:16px;
}
#u1482 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1483 {
  position:absolute;
  left:138px;
  top:453px;
  width:57px;
  height:16px;
  color:#999999;
}
#u1484 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1485 {
  position:absolute;
  left:389px;
  top:441px;
  width:28px;
  height:16px;
}
#u1486 {
  position:absolute;
  left:16px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1485_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1487 {
  position:absolute;
  left:463px;
  top:420px;
  width:161px;
  height:25px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1488 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1489 {
  position:absolute;
  left:463px;
  top:467px;
  width:308px;
  height:80px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1490 {
  position:absolute;
  left:8px;
  top:4px;
  width:300px;
  word-wrap:break-word;
}
#u1491 {
  position:absolute;
  left:141px;
  top:414px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u1491_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:429px;
  height:8px;
}
#u1491_seg1 {
  position:absolute;
  left:421px;
  top:-4px;
  width:8px;
  height:10px;
}
#u1491_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1492 {
  position:absolute;
  left:166px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
